<div *ngIf="!country" class="text-center">
  <h1>L O A D I N G . . . </h1>
</div>
<div [hidden]="!country" class="main-card">
  <div style="padding: 1rem; text-align: center;">
    <h1 class="country-title">{{country?.name}}</h1>
    <h3 *ngIf="country?.capitalCity" class="capital-title">Capital in {{country?.capitalCity}}</h3>
    <div>
      <p>Latitude: {{country?.latitude}}</p>
      <p>Longitude: {{country?.longitude}}</p>
      <p><strong>Region {{country?.region.value}} - {{country?.region.id}}</strong></p>
    </div>
    <button i18n class="action-button-class" (click)="onBack()">Back</button>
  </div>
</div>
