<div *ngIf="!data" style="text-align: center;">
  <h1>L O A D I N G . . . </h1>
</div>
<div [hidden]="!data">
  <h1>{{title}}</h1>
  <table aria-describedby="table-regions">
    <thead class="table-header-contrast">
      <th scope="name">
        <h3>Name</h3>
      </th>
      <th scope="code">
        <h3>Code</h3>
      </th>
      <th scope="capital">
        <h3>
          Capital
        </h3>
      </th>
      <th scope="actions">

      </th>
    </thead>
    <tr *ngFor="let region of data">
      <td class="custom-col">
        <h3>{{region.name}}</h3>
      </td>
      <td class="custom-col">
        <strong>{{region.id}} - {{region.iso2Code}}</strong>
      </td>
      <td class="custom-col">
        {{region.capitalCity}}
      </td>
      <td class="custom-col">
        <button style="cursor: pointer;" (click)="viewCountry(region.id)"> View Detail </button>
      </td>
    </tr>
  </table>
</div>
