<div *ngIf="!data" style="text-align: center;">
  <h1>L O A D I N G . . . </h1>
</div>
<div [hidden]="!data">
  <table name='continents-table'>
    <thead class="table-header-contrast">
      <th scope="id">
        <h3>ID</h3>
      </th>
      <th scope="code">
        <h3>Code</h3>
      </th>
      <th scope="code">
        <h3>
          Name
        </h3>
      </th>
      <th scope="actions">

      </th>
    </thead>
    <tr *ngFor="let cont of data">
      <td class="custom-id-col">
        <h3>{{cont.id}}</h3>
      </td>
      <td class="custom-col">
        <strong>{{cont.code}} - {{cont.iso2code}}</strong>
      </td>
      <td class="custom-col">
        {{cont.name}}
      </td>
      <td class="custom-col">
        <button style="cursor: pointer;" (click)="viewRegions(cont.code)"> View Regions </button>
      </td>
    </tr>
  </table>
</div>
